/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Merienda&family=Montserrat:wght@300;400&display=swap');

/* Changing the main font and background colour */

body {
	font-family: 'Montserrat', sans-serif;;
	background-color: #FDE5DE;
}
h3 {color: #FFFFFF;}
h2 {color: #731921;}
h4 {color: #757575;}
h5 {color: #FFFFFF;}
p {color: #757575;}
/* Changing the background colour for the header */

.visiontext {color:#FFFFFF;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
}


.textproduct {color:#757575;
font-family: 'Montserrat', sans-serif;}

header {
	font-family: 'Montserrat', sans-serif;
	background-color: #8B3C3C;
}
.card-body {background-color: #FFFFFF;
}
.card-text {color: #E6B5AE;}
.card-title {color: #000000;}
.mt-4 {color: #731921;}
.producttitle {
	background-color:#731921;}
/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FDE5DE;
}

.discounttext{color:#FFFFFF; 
font-family: 'Montserrat', sans-serif;
font-weight: 300}

.text-center {
	background-color: #731921;
} 

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
.quote{
	font-family: 'Merienda', cursive;
}
.Teamtext{font-family: 'Montserrat', sans-serif;}

.description {color:#000000;}
.description1{color:#757575}

.Perfume-title{
	font-family: 'Montserrat', sans-serif;
	color: #731921;
	font-weight: 400;
}
footer {font-family: 'Archivo Narrow', sans-serif;}

.textproduct {font-weight: 300;
	font-family: 'Montserrat', sans-serif
}
.Priceproduct {color:#000000;
font-family: 'Montserrat', sans-serif;
}

.Buttonteam {
}
.description{color:#000000;
font-family: 'Montserrat', sans-serif;
font-weight: 400}

.description1 {color:#757575;
font-family: 'Montserrat', sans-serif;
font-weight: 400}


.discount{ color:#FFFFFF; 
font-weight: 400;
font-family: 'Montserrat', sans-serif}

.discountbody {color:#FFFFFF
}
.enddiscount {font-weight: 400;
font-family: 'Montserrat', sans-serif
}
.Footer {background-color: #e6b5ae
}

.description2 {color:#757575;
font-weight: 300;
font-family: 'Montserrat', sans-serif}

.Teamtext {font-family: 'Montserrat', sans-serif;
font-weight: 300}
.teamtitle {font-family: 'Montserrat', sans-serif;
font-weight: 400}
.vision {font-weight: 400;
	font-family: 'Montserrat', sans-serif}
