/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Merienda&family=Montserrat:wght@300;400&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Montserrat, sans-serif;
	background-color: #FDE5DE;
}
h3 {color: #FFFFFF;}
h2 {color: #731921;}
h4 {color: #757575;}
h5 {color: #FFFFFF;}
p {color: #757575;}
/* Changing the background colour for the header */

.visiontext {color:#FFFFFF;}

header {
	font-family: Montserrat, sans-serif;
	background-color: #8B3C3C;
}
.card-body {background-color: #FFFFFF;
}
.card-text {color: #E6B5AE;}
.card-title {color: #000000;}
.mt-4 {color: #731921;}
/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FDE5DE;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
.quote{
	font-family: 'Merienda', cursive;
}
footer {font-family: 'Archivo Narrow', sans-serif;}

